<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spw.rr.database.ImportMapper">
    <select id="getDBtime" resultType="java.sql.Timestamp">
        select current_timestamp()
        from dual;
    </select>
    <insert id="insertRosterEntry" parameterType="RosterEntry" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO roster
        (entered,
         fullpath,
         fileDate,
         systemName)
        VALUES (#{entryTime},
                #{fullPath},
                #{fileDate},
                #{systemName})
    </insert>
    <update id="updateRosterEntry" parameterType="RosterEntry">
        UPDATE
            roster
        SET fullpath=#{fullPath},
            systemName = #{systemName},
            fileDate = #{fileDate},
            dateUpdated = #{dateUpdated}
        WHERE
            id = #{id}
    </update>
    <delete id="deleteDecoderEntry" parameterType="DecoderEntry">
        DELETE
        FROM Decoder
        WHERE id = #{id};
    </delete>
    <select id="getFunctionLabels" parameterType="int" resultType="java.util.ArrayList">
        SELECT
            id,
            FUNCTIONNUMBER,
            FUNCTIONLABEL,
            LABEL_VERSION,
            LOCKED
            FROM FUNCTIONLABELS
        WHERE DECODERID = #{decoderId}
        ORDER BY FUNCTIONNUMBER
    </select>
    <select id="getLabelVersionMaxFor" resultType="LabelVersion" parameterType="Integer">
        SELECT
            decoderId,
            version_number,
            version_time
        FROM
            Label_Versions a
        WHERE
            a.decoderId = #{decoderId}
          AND version_number =
              (   SELECT
                      MAX(version_number)
                  FROM
                      label_versions b
                  WHERE
                      a.decoderId = b.decoderId)
    </select>
    <insert id="insertLabelVersion" parameterType="LabelVersion">
        INSERT  INTO LABEL_VERSIONS
        ( DECODERID,
            VERSION,
            VERSION_TIME)
        VALUES (
               #{decoderId},
               #{version},
               #{version_time})
    </insert>
    <insert id="insertSavedLabel" parameterType="SavedLabel">
        INSERT INTO SAVED_LABELS
            (DECODERID,
             FUNCTIONNUMBER,
             VERSION_NUMBER,
             SAVED_LABEL,
             LOCKED)
            VALUES (
                #{decoderId},
                #{functionNumber},
                #{version},
                #{functionLabel},
                #{locked}
                   )
    </insert>
</mapper>