<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spw.rr.database.Mapper">
    <select id="listRosters" resultType="RosterEntry">
        SELECT id,
               entered as entryTime,
               fullpath,
               dateupdated,
               systemname,
               coalesce(decCount, 0) as decCount,
               fileDate,
               dateUpdated
        from roster r
                 LEFT OUTER JOIN
             (   SELECT
                     d.rosterId AS rosterEntry,
                     COUNT(*)   AS decCount
                 FROM
                     decoder d
                 GROUP BY
                     rosterId)
             ON
                 r.id = rosterEntry
        order by systemname
    </select>
    <select id="getDecoderEntry" resultType="DecoderEntry" parameterType="int">
        SELECT
            id,
            decoderId,
            fileName,
            roadNumber,
            roadName,
            manufacturer,
            owner,
            model,
            dccAddress,
            manufacturerId,
            productId,
            dateUpdated,
            decoderTypeId,
            detailTime,
            rosterId
        FROM
            decoder
        WHERE
            id = #{id}
    </select>
    <select id="getRosterEntry" resultType="RosterEntry">
        SELECT id,
               entered AS entryTime,
               fullpath,
               dateupdated,
               systemname
        FROM roster
        WHERE systemName = #{param1}
          AND fullPath = #{param2}
    </select>
    <select id="getRosterEntryById" parameterType="integer" resultType="RosterEntry">
        SELECT id,
               entered AS entryTime,
               fullpath,
               dateupdated,
               systemname
        FROM roster
        WHERE id = #{id}
    </select>
    <select id="listDecodersByRosterID" parameterType="Integer" resultType="DecoderEntry">
        SELECT
        p.id,
        p.decoderId,
        p.fileName,
        p.roadNumber,
        p.roadName,
        p.manufacturer,
        p.owner,
        p.model,
        p.dccAddress,
        p.manufacturerId,
        p.productId,
        p.dateUpdated,
        p.decoderTypeId,
        p.detailTime,
        p.rosterId
        FROM decoder p
        WHERE
            rosterID = #{arg0}
        ORDER BY id
    </select>
    <insert id="insertRosterEntry" parameterType="RosterEntry" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO roster
        (entered,
         fullpath,
         fileDate,
         systemName)
        VALUES (CURRENT_TIMESTAMP,
                        #{fullPath},
                        #{fileDate},
                        #{systemName})
    </insert>
    <select id="listDecoderTypes" resultType="DecoderType">
        SELECT id,
               decoderFamily,
               decoderModel,
               dateUpdated AS updated
        FROM decoderType
        ORDER BY decoderFamily,
                 decoderModel
    </select>
    <insert id="insertDecoderTypeEntry" parameterType="DecoderType" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO decoderType
        (decoderfamily,
         decodermodel,
         dateupdated)
        VALUES (#{decoderFamily},
                #{decoderModel},
                   CURRENT_TIMESTAMP)
    </insert>
    <insert id="insertDecoderEntry" parameterType="DecoderEntry" useGeneratedKeys="true" keyColumn="id"
            keyProperty="id">
        INSERT INTO Decoder
        (decoderid,
         filename,
         roadnumber,
         roadname,
         manufacturer,
         owner,
         dccaddress,
         productid,
         decoderTypeId,
         rosterid,
         dateImported,
         dateUpdated)
        VALUES (#{decoderId},
                #{fileName},
                #{roadNumber},
                #{roadName},
                #{manufacturer},
                #{owner},
                #{dccAddress},
                #{productId},
                #{decoderTypeId},
                #{rosterId},
                current_timestamp,
                #{dateUpdated})
    </insert>
    <update id="updateDecoderEntry" parameterType="DecoderEntry">
        UPDATE
            Decoder
        SET decoderid     = #{decoderId},
            filename      = #{fileName},
            roadnumber    = #{roadNumber},
            roadname      = #{roadName},
            manufacturer  = #{manufacturer},
            owner         = #{owner},
            dccaddress    = #{dccAddress},
            productId     = #{productId},
            decoderTypeId = #{decoderTypeId},
            dateImported  = #{importDate},
            dateUpdated   = #{dateUpdated}
        WHERE id = #{id}
    </update>
    <insert id="insertDecoderDef" parameterType="DecoderDef" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO
            decoderDef
        (
            decoderID,
            varValue,
            item
        )
        VALUES
            (
                #{parent},
                #{varValue},
                #{item}
            )
    </insert>
    <insert id="insertCVs" parameterType="CVvalues" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO
            CvValues
        (
            decoderId,
            cvNumber,
            cvValue
        )
        VALUES
            (
                #{decoderId},
                #{cvNumber},
                #{cvValue}
            )
    </insert>
    <update id="updateDecoderDetailTime" parameterType="Integer">
        UPDATE Decoder
        set detailTime = CURRENT_TIMESTAMP
        WHERE ID = #{Id}
    </update>
    <select id="findRosterEntry" resultType="RosterEntry">
        SELECT id,
               entered AS entryTime,
               fullpath,
               dateupdated,
               systemname
        FROM roster
        WHERE systemName = #{param1}
          AND fullPath = #{param2};
    </select>
    <insert id="insertFunctionLabel" parameterType="FunctionLabel" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO
            FunctionLabels
        (
            decoderID,
            FunctionNumber,
            FunctionLabel
        )
        VALUES
            (
                #{decoderId},
                #{functionNum},
                #{functionLabel}
            );

    </insert>
    <insert id="insertKeyValuePairs" parameterType="KeyValuePairs" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT    INTO
            KeyValues
        (
            decoderId,
            Pair_key,
            Pair_value
        )
        VALUES
            (
                #{decoderId},
                #{pair_key},
                #{pair_value}
            )
    </insert>
    <insert id="insertSpeedProfile" parameterType="SpeedProfile" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO
            speedProfile
        (
            decoderId,
            STEP,
            forward,
            reverse
        )
        VALUES
            (
                #{decoderId},
                #{speedStep},
                #{forwardValue},
                #{reverseValue}
            )
    </insert>
    <delete id="deleteDecoderEntry" parameterType="DecoderEntry">
        DELETE
        FROM Decoder
        WHERE id = #{id};
    </delete>
    <update id="updateRosterEntry" parameterType="RosterEntry">
        UPDATE
            roster
        SET fullpath=#{fullPath},
            systemName = #{systemName},
            fileDate = #{fileDate},
            dateUpdated = CURRENT_TIMESTAMP
        WHERE
            id = #{id}
    </update>
    <select id="listDecodersFor" resultType="DecoderEntry">
        SELECT
            p.id,
            p.decoderId,
            p.fileName,
            p.roadNumber,
            p.roadName,
            p.manufacturer,
            p.owner,
            p.model,
            p.dccAddress,
            p.manufacturerId,
            p.productId,
            p.dateUpdated,
            p.decoderTypeId,
            p.detailTime,
            p.rosterId
        FROM decoder p
        <where>
            <foreach collection="list" index="index" item="item"
                     open = "rosterid IN (" separator="," close=")">
                #{item}
            </foreach>
        </where>
        ORDER BY id
    </select>
    <delete id="deleteCVs" parameterType="Integer">
        DELETE FROM CVValues WHERE decoderId = #{decoderId}
    </delete>
    <delete id="deleteDecoderDef" parameterType="Integer">
        DELETE FROM DecoderDef WHERE decoderId = #{decoderId}
    </delete>
</mapper>