<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spw.rr.mappers.DecoderMapper">
<select id="listRoster" resultType="com.spw.rr.RosterEntry">
    SELECT id,
         entered as entryTime,
         fullpath,
         dateupdated,
         systemname
        from rrdec.roster order by systemname
</select>
    <update id="updateRosterEntry" parameterType="com.spw.rr.RosterEntry">
        UPDATE
            rrdec.roster
        SET
            fullpath=#{fullpath},
            systemName = #{sytemName},
            dateUpdated = CURRENT TIMESTAMP
        WHERE
            id = #{id}
    </update>
    <insert id="insertRosterEntry" parameterType="com.spw.rr.RosterEntry" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO
            rrdec.roster
        (
            entered,
            fullpath,
            systemName
        )
        VALUES
            (
                CURRENT TIMESTAMP,
                        #{fullPath},
                        #{systemName}
            )
    </insert>
    <select id="getRosterEntry" parameterType="integer" resultType="com.spw.rr.RosterEntry">
        SELECT
            id,
            entered AS entryTime,
            fullpath,
            dateupdated,
            systemname
        FROM
            rrdec.roster
        WHERE
            id = #{id}
        ORDER BY
            systemname
    </select>
    <select id="listSystemRoster" parameterType="String" resultType="com.spw.rr.RosterEntry">
        SELECT
            id,
            entered AS entryTime,
            fullpath,
            dateupdated,
            systemname
        FROM
            rrdec.roster
        WHERE
            systemName = #{systemName}
        ORDER BY
            systemname
    </select>
    <select id="findRosterEntry"  resultType="com.spw.rr.RosterEntry">
        SELECT
            id,
            entered AS entryTime,
            fullpath,
            dateupdated,
            systemname
        FROM
            rrdec.roster
        WHERE
            systemName = #{param1}
          AND fullPath = #{param2};
    </select>
    <select id="listDecoders" resultType="com.spw.rr.DecoderEntry">
        SELECT
            id,
            decoderFamily,
            decoderModel,
            dateUpdated    AS updated
        FROM
            rrdec.decoder
        ORDER BY
            family,
            mode
    </select>
    <insert id="insertDecoderEntry" parameterType="com.spw.rr.DecoderEntry">
        INSERT INTO
            rrdec.decoder
        (
            decoderfamily,
            decodermodel,
            dateupdated
        )
        VALUES
            (
                #{decoderFamily},
                #{decoderModel},
                CURRENT TIMESTAMP
            )
    </insert>
    <select id="getDecoder" resultType="com.spw.rr.DecoderEntry">
        SELECT
            id,
            decoderFamily,
            decoderModel,
            dateUpdated AS updated
        FROM
            rrdec.decoder
        WHERE
            id = #{id}
    </select>
    <select id="findDecoder" resultType="com.spw.rr.DecoderEntry">
        SELECT
            id,
            decoderFamily,
            decoderModel,
            dateUpdated AS updated
        FROM
            rrdec.decoder
        WHERE
            decoderFamily = #{param1}
          AND decoderModel = #{param2}
    </select>
    <update id="updateDecoderEntry" parameterType="com.spw.rr.DecoderEntry">
        UPDATE
            rrdec.decoder
        SET
            decoderFamily = #{decoderFamily},
            decoderModel = #{decoderModel},
            dateUpdated = CURRENT TIMESTAMP
        WHERE
            id = #{id}
    </update>
    <insert id="insertLocomotiveEntry" parameterType="com.spw.rr.LocomotiveEntry" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO
            rrdec.locomotive
        (
            locoid,
            filename,
            roadnumber,
            roadname,
            manufacturer,
            owner,
            dccaddress,
            productid,
            decoderId,
            rosterid,
            dateUpdated
        )
        VALUES
            (
                #{locoId},
                #{fileName},
                #{roadNumber},
                #{roadName},
                #{manufacturer},
                #{owner},
                #{dccAddress},
                #{productId},
                #{decoderId},
                #{rosterId},
                CURRENT TIMESTAMP
    </insert>
</mapper>